p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color : #fff;
}

a {
    color : #b0c9cf
}

body {
    background-color: #392d45;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    color : #b0c9cf;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    color : #b0c9cf;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    color : #b0c9cf;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #503f61;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

button {
    height: 50px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.login {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    color : #b0c9cf;
    display: block;
    margin-bottom: 5px;
    align-self: center;
}

input {
    height: 50px;
    vertical-align: top;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
}

.servers-column {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.channel-column {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.content-area {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.user-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.top-divider {
    min-height: 15%;
    max-height: 15%;
    /* bottom border, text mint */
    
    filter: brightness(1.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;

}
.top-divider > div {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}
.bottom-divider {
    margin-top: 10px;
    min-height: 15%;
    border-top: 1px solid #b0c9cf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;}

.channel-list {
    flex: auto;
    filter: brightness(1.2);
    overflow-x: hidden;
}

.user-list {
    height: 27.5%;
    flex: auto;
    overflow-x: hidden;
    filter: brightness(1.2);
}

.message-list {
    flex: auto;
    filter: brightness(1.2);
    overflow-x: hidden;
}

.server-list {
    flex: auto;
    overflow-x: hidden;
    filter: brightness(1.2);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    overflow: auto;
    
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.create-form > * {
    text-align:center;
    width: 100%;
}

.add-server-button {
    width: 90%;
}

.flash {
    position: fixed;
    top: 0;
    right: 0;
    color: #b0c9cf;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.server-entry {
    padding: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}

.channel-entry {
    padding: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}

.entry {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.channel-entry:hover {
    filter: brightness(1.2);
}

.selected {
    filter: brightness(1.2);
}

.user > p {
    color : #b0c9cf;
    padding: 10px;
}

.you {
    filter: brightness(1.6);
}

.you > p {
    color: #b0c9cf;
    padding: 10px;

}

.message-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-box {
    height: 50px;
    flex: 1;
    
    margin-right: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

