<html>
  <head>
    <title>The Writing on the Wall</title>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css")}} />
    {% if channel is not none %}
    <script src={{ url_for("static", filename="messaging.js")}} defer></script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
      // after page load, attach onclick handlers to the divs in the forum-list
      $(document).ready(function() {
        //add onclick handler to each forum in the forum-list
        $(".forum-entry").click(function() {
          var forum_id = $(this).attr("id");
          console.log("forum id: " + forum_id);
          window.location.href = "/dashboard/" + forum_id + "/general";
        });
        //add onclick handler to each channel in the channel-list
        $(".channel-entry").click(function() {
          //find the cookie named forum
          var forum_id = document.cookie.split("; ").find(row => row.startsWith("forum")).split("=")[1];
          var channel_id = $(this).attr("id");
          window.location.href = "/dashboard/" + forum_id + "/" + channel_id;
        });
        // copy selected forum div into div with id "channel-header"
        $(".forum-entry.selected").clone().appendTo("#channel-header");
        // make the private checkbox show the capacity input when checked, and show the permalink input when unchecked
        $("#private").change(function() {
          if (this.checked) {
            console.log("checked");
            $("#capacity").show();
            $("#permalink").hide();
          } else {
            console.log("unchecked");
            $("#capacity").hide();
            $("#permalink").show();
          }
        });
      });
    </script>
    <!-- Apply user preferences here -->
    {% include "style-applicator.html" %}
  </head>
  <body>
    
    <div id="new-forum-modal" class="modal-background">
      <div class="modal">
        <form class="create-form" action={{ "/api/" + request.cookies.get('uid') + "/create_forum" }} method="POST">
          <h1>Create a new forum</h1>
          <label for="forum-name">
            <h2>Forum Name</h2>
          </label>
          <input type="text"
                 id="forum-name"
                 name="forum-name"
                 placeholder="Forum Name"
                 required/>
          <label for="forum-description">
            <h2>Forum Description</h2>
          </label>
          <input type="text"
                 id="forum-description"
                 name="forum-description"
                 placeholder="Forum Description"
                 required/>
          <label for="private">
            <h2>Private Forum?</h2>
          </label>
          <input type="checkbox"
                 id="private"
                 name="private"
                 value="private"/>
          <div id="capacity" style="display: none;">
            <label for="capacity">
              <h2>Capacity (Max 1000)</h2>
            </label>
            <input type="number"     
                 name="capacity"
                 placeholder="Capacity"/>
          </div>
          <div id="permalink">
            <label for="permalink">
              <h2>Permalink (Max Length 16)</h2>
          </label>
          <input type="text"
                 name="permalink"
                 placeholder="Permalink"/>
          </div>
          <button type="submit" id="create-forum">Create Forum</button>
          <button type="button"
                  id="cancel-forum"
                  onclick="document.getElementById('new-forum-modal').style.display='none'">
            Cancel
          </button>
        </form>
      </div>
    </div>
    {% if forum is not none %}
    <div id="new-channel-modal" class="modal-background">
      <div class="modal">
        <form class="create-form" action={{ "/api/" + forum + "/create_channel" }} method="POST">
          <h1>Create a new channel</h1>
          <label for="channel-name">
            <h2>Channel Name</h2>
          </label>
          <input type="text"
                 id="channel-name"
                 name="channel-name"
                 placeholder="Channel Name"
                 required/>
          <label for="channel-description">
            <h2>Channel Topic</h2>
          </label>
          <input type="text"
                 id="channel-topic"
                 name="channel-topic"
                 placeholder="Channel Topic"
                 required/>
          <button type="submit" id="create-channel">Create Channel</button>
          <button type="button"
                  id="cancel-forum"
                  onclick="document.getElementById('new-channel-modal').style.display='none'">
            Cancel
          </button>
        </form>
      </div>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="hideondelay" class="flash">
          {% for message in messages %}<p>{{ message }}</p>{% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="forums-column">
      <div class="top-divider">
        <h3 style="overflow-wrap: break-word;">Logged in as</h3>
        <h3 style="overflow-wrap: break-word;">{{ name }}</h3>
        <form action={{"/profiles/" + request.cookies.get('uid')}}>
          <button class="profile-button" type="submit" onclick="">
            Profile
          </button>
        </form>
      </div>
      <div id="forumlist" class="forum-list">
        {% set data = g.conn.execute("SELECT forums_administrates.name, forums_administrates.description, forums_administrates.fid
        FROM forums_administrates, member_of, users
        WHERE member_of.uid = users.uid
        AND member_of.fid = forums_administrates.fid
        AND users.uid = %s;", uid) %}
        {% for row in data %}
          {% if row['fid'] == forum | int %}
            <div class="forum-entry selected" id="{{ row['fid'] }}">
            {% else %}
              <div class="forum-entry" id="{{ row['fid'] }}">
              {% endif %}
              <h2>{{ row['name'] }}</h2>
              <p>{{ row['description'] }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="bottom-divider">
          <button class="add-forum-button"
                  onclick="document.getElementById('new-forum-modal').style.display='block'">
            New Forum
          </button>
        </div>
      </div>
    </div>
    <div class="channel-column">
      <div id="channel-header" class="top-divider"></div>
      <div id="channel-list" class="channel-list">
        {% set data = g.conn.execute("SELECT cname, topic FROM channels_contains WHERE fid = %s;", forum) %}
        {% for row in data %}
          {% if row['cname'] == channel %}
            <div class="channel-entry selected" id="{{ row['cname'] }}">
            {% else %}
              <div class="channel-entry" id="{{ row['cname'] }}">
              {% endif %}
              <h2>{{ row['cname'] }}</h2>
              <p>{{ row['topic'] }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="bottom-divider">
          {% if forum %}
            <button class="add-channel-button"
                    onclick="document.getElementById('new-channel-modal').style.display='block'">
              New Channel
            </button>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="content-area">
      <div id="content-header"class="top-divider">
        <h2>{{ channel }}</h2>
      </div>
      <div id="message-list" class="message-list">
        <!-- Populated by JS -->
      </div>
      <div class="bottom-divider">
        {% if forum %}
        <form class="message-form"
              action="/api/{{ forum }}/{{ channel }}/post"
              method="POST">
          <input class="message-box"
                 type="text"
                 name="message"
                 placeholder="Type a message..."/>
          <button class="send-button" type="submit" value='Send'>Send</button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="user-column">
      <div class="top-divider">
        <h2>Friends in Forum</h2>
      </div>
      <div class="user-list">
        {% set data =  g.conn.execute("select name from (select uid, name from member_of natural join users where member_of.fid = %s) as a where a.uid in (
        select uid_sender as uid from friends_with
        where uid_receiver = %s and status = 'accepted'
        union select uid_receiver from friends_with
        where uid_sender = %s and status = 'accepted');",forum, uid, uid) %}
        {% for row in data %}
          {% if name == row[0] %}
            <div class="you">
            {% else %}
              <div class="user">
              {% endif %}
              <p>{{ row[0] }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="top-divider">
          <h2>
            Users in Forum
          </h2>
        </div>
        <div class="user-list">
          {% set data = g.conn.execute("SELECT name FROM member_of NATURAL JOIN users WHERE fid = %s;", forum).fetchall() %}
          {% for row in data %}
            {% if name == row[0] %}
              <div class="you">
              {% else %}
                <div class="user">
                {% endif %}
                <p>
                  {{ row[0] }}
                </p>
              </div>
            {% endfor %}
          </div>
          <div class="bottom-divider" style="flex-direction: column; padding-top: 10px;">
            <form action="/logout">
              <button class="add-channel-button" type="submit" onclick="">
                Log Out
              </button>
            </form>
            <form action="/api/{{ uid }}/delete" method="POST">
              <button class="add-channel-button" type="submit" onclick="">
                Delete Account
              </button>
            </form>
            {% if forum %}
            <form action="/api/{{ uid }}/leave" method="POST">
              <input type="hidden" name="fid" value="{{ forum }}" >
              <button class="add-channel-button" type="submit" onclick="">
                Leave Forum
              </button> 
            </form> 
            {% endif %}
          </div>
        </div>
      </body>
    </html>
