<html>
    <head>
        <title>IshCord</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css')}} />
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1 style="text-align:center;">IshCord</h1>
            </div>
            <div class="login">
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username" required/>
                    <button type="submit" value="Login">Login</button>
                </form>
            </div>
            <!-- Div for flashed messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="hideondelay" class="flash">
                        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                    </div>
                    <div>
                        <p>
                            Perhaps you would like to <a href="/register">register</a>?
                        </p>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>
