<html>
    <head>
        <title>Moderation</title>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css")}} />
        {% include "style-applicator.html" %}
    </head>
    <body>
        {% include "flasher.html" %}
        {% include "profile-sidebar.html" %}
        <div style="width: 80%;">
            <div class="top-divider" style="border: none; margin: 0;">
                <h1>Forum Moderation</h1>
            </div>
            <div style="height: 85%; overflow-x: hidden; filter: brightness(0.8);">
                {% for forum in forums %}
                    <div class="entry">
                        <div class="top-divider" id="forum-{{ forum['name'] }}">
                            <h1>{{ forum['name'] }}</h1>
                        </div>
                        <div class="details"
                             style="display: flex;
                                    flex-direction: row;
                                    justify-content: space-between">
                            <h3>Created On: {{ forum['created'] }}</h3>
                            <p>Description: {{ forum['description'] }}</p>
                        </div>
                        <button class="button" onclick="window.location.href = '/profiles/{{ uid }}/moderation/{{ forum['fid'] }}'">Moderate</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
