<div style="width: 20%; padding: 10px; display: flex; flex-direction: column; justify-content: space-around;">
    <div>
        <h2>
            Logged in as {{ name }}
        </h2>
        <button class="profile-button" type="submit" onclick="window.location.href='{{ url_for('dashboard', uid=request.cookies.get('uid')) }}'">Dashboard</button>
    </div>
    <button onclick="window.location.href='{{ url_for('themes', uid=request.cookies.get('uid'))}}'">Theme Profiles</button>
    <button onclick="window.location.href='{{ url_for('friends', uid=request.cookies.get('uid')) }}'">Friends List</button>
    <button onclick="window.location.href='{{ url_for('moderation_landing', uid=request.cookies.get('uid')) }}'">
        Moderation
    </button>
</div>
