<!-- Profile page -->
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css")}} />
        {% include "style-applicator.html" %}
    </head>
    <body>
    <div id="theme-modal" class="modal-background">
        <div class="modal">
            <form class="create-form" action="{{ "/api/" + request.cookies.get('uid') + "/new_theme" }}" method="POST">
                <h1>Create a new Theme</h1>
                <label for="theme-name">
                  <h2>Theme Name</h2>
                </label>
                <input type="text"
                       id="theme-name"
                       name="theme-name"
                       placeholder="Theme Name"
                       required/>
                <label for="theme-accent">
                    <h2>Accent Color</h2>
                </label>
                <input type="color"
                       id="theme-accent"
                       name="accent-color"
                       value="#808080"
                       required/>
                <label for="theme-primary">
                    <h2>Primary Color</h2>
                </label>
                <input type="color"
                       id="theme-primary"
                       name="primary-color"
                       value="#ffffff"
                       required/>
                <label for="line-spacing">
                    <h2>Line Spacing</h2>
                </label>
                <input type="number"
                       id="line-spacing"
                       name="line-spacing"
                       value="1"
                       step="0.05"
                       required/>
                <label for="font-size">
                    <h2>Font Size</h2>
                </label>
                <input type="number"
                       id="font-size"
                       name="font-size"
                       value="12"
                       step="0.5"
                       required/>
                <button type="submit" id="create-forum">Create Theme</button>
                <button type="button"
                        id="cancel-forum"
                        onclick="document.getElementById('theme-modal').style.display='none'">
                  Cancel
                </button>
              </form>
        </div>
    </div>
        {% include "flasher.html" %}
        {% include "profile-sidebar.html" %}
        <div style="width: 80%; display: flex; flex-direction: column;">
            <div class="top-divider" style="border: none; margin: 0;">
                <h1>My Themes</h1>
            </div>
            <div style="flex-grow: 1; overflow-x: hidden; filter: brightness(0.8); padding:10px;">
            {% for theme in themes %}
            <div class="entry">
                <div class="top-divider" id="{{ theme['name'] }}">
                    <h1>{{ theme['name'] }}</h1>
                </div>
                <div class="details" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div class="labels">                    
                        <h3>Text Size: {{ theme['text_size'] }}</p>
                        <h3>Theme Color: {{ theme['primary_color'] }}</p>
                        <h3>Accent Color: {{ theme['accent_color'] }}</p>
                        <h3>Line Spacing: {{ theme['line_spacing'] }}</p>
                    </div>
                    <div style="width: 20%;">
                        {% if theme['name'] != prefs['theme_name'] %}
                        <form action={{ "/profiles/" + uid + "/themes" }} method="POST">
                            <input style="display: none;" type="text" name="theme" value="{{ theme['name'] }}"/>
                            <button type="submit">Select Theme</button>
                        </form>
                        <form action={{ "/api/" + uid + "/delete_theme" }} method="POST">
                            <input style="display: none;" type="text" name="theme" value="{{ theme['name'] }}"/>
                            <button type="submit">Delete Theme</button>
                        </form>
                        {% else %}
                        <form>
                            <input style="display: none;" type="text" name="theme" value="{{ theme['name'] }}"/>
                            <button onclick="">Current</button>
                        </form>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
            <div class="bottom-divider" style="border: none; margin: 0;">
                <button onclick="document.getElementById('theme-modal').style.display='block'">Create Theme</button>
            </div>
        </div>
        
        </body>
